# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# following users will be requested for
# review when someone opens a pull request.
*  @fm-sick @vervoortb @haliCR1 @BaRu-ifm @julian-st @lorandmolnar @mrentsch65 @roesekoSICKAG
