name: Lint RestAPI with Spectral

on:
  - push

jobs:
  build:
    name: Run Spectral
    runs-on: ubuntu-latest
    steps:
      # Check out the repository
      - uses: actions/checkout@v2

      # Run Spectral
      - uses: stoplightio/spectral-action@latest
        with:
          file_glob: 'JSON_for_IO-Link.yaml'
          spectral_ruleset: spectral.yaml
